@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --blue: #050542;
    --green: #66E5BF;
    --grey: #ECECEC;
    --purple: #A675F5;
    --white: #FFFFFF;
    --yellow: #FFFC86;

    --radius: 1.5rem;
    --font-size-sm: 16px;
    --font-size-md: 18px;
    --font-size-lg: 40px;
    --font-size-xl: 48px;


    --font-weight-reg: 400;
    --font-weight-bold: 700;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: var(--purple);
    
}